{% extends 'base.html.twig' %}

{% block title %}Ajoutez une recette
{% endblock %}


{% block body %}
<br>
<h3>Formulaire d'ajout d'une nouvelle recette</h3>
<br>
<div>
<p>Veuillez ajouter une nouvelle recette dans le formulaire suivant : </p>
</div>
{% endblock %}