{% extends 'base.html.twig' %}

{% block body %}
<br>
<h3>Bienvenue dans notre site de recettes en ligne!<h3>
<br>
<h5>Dans ce site, vous pouvez consulter toutes les recettes disponibles à l'aide de la barre de navigation ci-dessous!</h5>
<br>
<br>
<br>
<img src="/images/brunch.png" width="350" length="150" alt=""><br><br>
<br>
<img src="/images/pizza.png" width="350" length="150" alt=""><br><br>
<br>
<img src="/images/spaghetti.png" width="350" length="150" alt=""><br><br>
<br>
<img src="/images/smoothie.png" width="350" length="150" alt=""><br><br>


{% endblock %}
