{% extends 'base.html.twig' %}

{% block body %}
<br>
<h3>Bienvenue dans notre site de recettes en ligne!<h3>
<br>
<h5>Dans ce site, vous pouvez consulter toutes les recettes disponibles à l'aide de la barre de navigation ci-dessous!</h5>

{% endblock %}
